/* #btn {
    background-color: lightblue;
    border: solid 2px;
    width: 40px;
    height: 25px;
}
#bt {
    background-color: lightgreen;
    border: solid 2px;
    width: 40px;
    height: 25px;
    margin-left: 10px;} */

    li{
        width: 300px;
        background-color: tan;
        display:flex;
        justify-content: space-between;
        padding: 10px;
        margin: 5px;
    }