#btn {
    background-color: lightblue;
    border: solid 2px;
    width: 40px;
    height: 25px;
}
#bt {
    background-color: lightgreen;
    border: solid 2px;
    width: 40px;
    height: 25px;
    margin-left: 10px;}